################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Brunetons-Improved-Atmospheric-Scattering/v16/TestStore/0
